body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.recipe-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-container p {
    color: #666;
    font-size: 16px;
}

.recipe-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.recipe-container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.recipe-container ul li {
    margin-bottom: 10px;
}

.recipe-container ol {
    padding: 0;
    margin-bottom: 20px;
}

.recipe-container ol li {
    margin-bottom: 10px;
}

.recipe-container span[itemprop="description"] {
    font-style: italic;
}

.recipe-container span[itemprop="recipeYield"] {
    font-weight: bold;
}

.recipe-container span[itemprop="recipeIngredient"] {
    display: block;
}

.recipe-container span[itemprop="recipeInstructions"] {
    display: block;
    margin-top: 20px;
}

.recipe-container .interaction-statistic {
    margin-top: 20px;
}

.recipe-container .interaction-statistic span {
    color: #666;
}

.recipe-container .interaction-statistic span:before {
    content: '\1F4AC'; /* Unicode character for comment icon */
    margin-right: 5px;
}
